doctype
html
    head
        link( rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css" )
        link( rel="stylesheet" href="/css/manage.css" )
        title Web Academy FE2 2017
    body
        header
            nav( class="navbar navbar-default" )
                .container-fluid
                    .navbar-header
                        a( class="navbar-brand" href="/" )
                            img( src="http://webacademy.bg/wa_logo.png" alt="Web Academy logo" )
                    ul( class="nav navbar-nav" )
                        li.active
                            a( href="/manage") Dashboard
                        li
                            a( href="/manage/users") Users
                        li
                            a( href="/manage/sections") Sections
                        li
                            a( href="#") page3
                    ul( class="nav navbar-nav navbar-right" )
                            li
                                a( href="/profile" ) Welcome, #{ currentUser }
                            li
                                form( id="logout-form" method="post" action="/logout")
                                a( href="javascript:document.getElementById('logout-form').submit()" ) Logout
        main
            .container
                block main-content
        include scripts/scripts