extends ../../layouts/administration
block main-content
    form( method="post" action="/manage/update-section/" + id enctype="multipart/form-data" )
        .form-group
            label( for="section-name" ) Section Name:
            input( id="section-name" class="form-control" type="text" name="sectionName" value=name )
        .form-group
            label( for="section-heading" ) Section Heading:
            input( id="section-heading" class="form-control" type="text" name="sectionHeading" value=heading )
        .form-group
            label( for="section-body" ) Section Body:
            textarea( id="section-body" class="form-control" rows="5" name="sectionBody" )= body
        .form-group
            label( for="section-desc" ) Section Description:
            textarea( id="section-desc" class="form-control" rows="5" name="sectionDescription" )= description
        .form-group
            button( class="btn btn-primary pull-right" ) Save
block page-scripts
    script( type="text/javascript" src="/js/multiplySectionImage.js" )